@media (min-width:1200px) {
    .hiddenButton {
        display: none;
    }
    .close{
        display: none;
    }
    .header-nav{
        display: block;
    }
}

@media (max-width:1199px) {
    .close{
        display: none;
    }
    .header-nav{
        display: block;
    }

    .hiddenButton {
        display: none;
    }

    .leader-interactive {
        padding: 60px 0 0 60px;
        transform: translateX(-220px);
    }

    .sub-titile {
        font-size: 42px;
        line-height: 44px;
    }

    .leader-text {
        width: 400px;
    }

    .mainFooter .row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-header .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media (max-width:991px) {
    .hiddenButton {
        display: none;
    }
    .close{
        display: none;
    }
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-title {
        width: 100%;
        font-size: 56px;
    }
    .header-nav{
        display: block;
    }
    .interactive {
        text-align: center;
    }

    .interactive .row {
        display: inline-block;
    }

    .interactive .container {
        max-width: 750px;
    }

    .leader-interactive {
        padding: 0;
        transform: unset;
    }

    .leader-text {
        width: 100%;
    }

    .interactive .sub-title {
        font-size: 40px;
        padding-top: 40px;
    }

    .creations {
        flex-direction: column;
    }

    .creations .container {
        max-width: 760px;
        padding: 0 15px;
    }

    .creations {
        padding-bottom: 120px;
    }

    .col2 {
        width: 30%;
    }

    .mainFooter .row {
        flex-direction: column;
        text-align: center;
    }

    .left {
        padding-bottom: 30px;
    }

    .col1 img {
        width: 100%;
    }

    .col2 img {
        width: 100%;
        padding: 0 15px;
    }

    .creations .first-row {
        justify-content: center;
        margin: 0 -15px;
    }

    .interactive {
        padding: 140px 0 140px 0;
    }
}

@media (max-width:767px) {

    .hiddenButton {
        display: block;
    }

    .main-header .navbar {
        display:none;
        position:absolute;
        top:0px;
        left:0;
        right:0;
        width: 100%;
        height: 100%;
        background-color:#000000; 
        padding:150px 24px 40px 24px;
        z-index: 999;
    }

    .main-header .main-links{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        line-height: 25px;
        text-transform: uppercase;
        color: #FFFFFF;  
        display:block;
        margin-bottom:24px;
    }

    .main-header .main-links::after{
        width:120px;
        left:25px;
        margin-top: 25px;
        margin-left: 0px;
    }
    .wrapper::after{
        content:"";
        position:absolute;
        top:100%;
        left:0;
        right:0;
        height:  670px;

    }
    .close{
        z-index:9999;
        display: none;
    }

    .main-header .row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pictures h3 {
        font-size: 22px;
        width: 130px;
    }

    .interactive .row {
        flex-direction: column;
    }

    .leader-interactive {
        transform: translateX(0);
    }

    .col1 {
        width: 100%;
    }

    .our-creations {
        line-height: 35px;
        font-size: 35px;
    }

    .footer-links a:not(:last-child) {
        margin-right:0;
    }

    .footer-links a{
        display:block;
        padding-bottom:15px;
    }
}


@media (max-width:565px) {
    .pictures h3 {
        font-size: 20px;
        width: 120px;
        line-height: 23px;  
    }

    .see-all {
        padding: 8px 20px 8px 20px;
        font-size: 12px;
    }

    .our-creations {
        line-height: 35px;
        font-size: 30px;
    }

    .main-title {   
        font-size: 45px;
    }

    .interactive .sub-title {
        font-size: 35px;
    }

    .leader-interactive {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width:480px) {

    .main-header .logo img {
        width: 70%;
    }

    .main-title {
        font-size: 30px;
        padding: 28px;
    }

    .interactive {
        padding: 130px 0 120px 0;
    }

    .pictures h3 {
        width: 125px;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }

    .our-creations {
        line-height: 35px;
    }
    .creations{
        position:relative;
    }

    .see-all {
        position: absolute;
        bottom: 56px;
        left: 30%;
        padding: 13px 43px 13px 38px;
        font-size: 14px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }

    .mainFooter .navbar a {
        margin: 0;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .main-title {
        line-height: 42px;
    }

    .wrapper {
        padding-bottom: 60px;
    }

    .col2 {
        width: 100%;
        margin-top:0;
    }
    .pictures{
        width:100%;
        height:150px;
        margin-bottom:24px;
    }

    .pictures img{
        width:100%;
        height:100%;
        object-fit: cover;
        object-position: 0 -20px;
    }

   .sub-title{
        margin:0 auto;
    }
}

@media (max-width:320px) {
    .pictures h3 {
        width: 70px;
        font-size: 12px;
    }

    .see-all {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .interactive .sub-title {
        font-size: 30px;
    }
}